h1 Lesson
p = @lesson.name
p = @lesson.description

= link_to "edit",  edit_teachers_course_lesson_path(@lesson)
br
= link_to "delete", teachers_course_lesson_path(@lesson), method: :delete
br
- if @lesson.lessons_file.present?
    img.center src=@lesson.lessons_file.url

= link_to "Create task", new_teachers_course_lesson_task_path(@lesson.course, @lesson)
br
= link_to "See tasks", teachers_course_lesson_tasks_path(@lesson.course, @lesson)
