h1 = lesson.name
h1 Task
p = task.name
p = task.question

= link_to "edit",  edit_teachers_course_lesson_task_path(task)
br
= link_to "delete", teachers_course_lesson_task_path(task), method: :delete
